/* General Styles */
/* ---------------------------------------------------- */

body {
	background-color: #1b1b1b !important;
	
}

html {
	padding-bottom: 0;
}

h1 {
	color: #fff;
	text-align: center;
	margin: 0 auto;
}

h2, h3 {
	color: #fff;
}

h5 {
	color: #fff;
	text-align: left;
	margin: 0 auto;
	padding-left: 10px;
	font-size: 0.8em;
}

hr {
	border-top: 0.5px solid grey !important;
	margin-bottom: 0;
	opacity: 0.5;
	width: 90%;

}

.navbar {
	background-color: #16181b;
	border-bottom: 1px solid #413b3b;
}

.navbar>a {
	color: #f5f5dc;
}

.navbar-nav>a{
	
	color: #f3f3c1;
}


/* ---------------------------------------------------- */

/* Vis section Styles */
/* ---------------------------------------------------- */

.rounded-10 {
	border-radius: 5px;
	border: 0.5px solid;
	border-color: #2E2E2E;
}

.bounding {
	background-color: #1e2025;
	border: 1px solid #413b3b;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	padding: 0px;
}

.section-title {
	text-align: left;
	padding-left: 30px;
	padding-top: 20px;
	margin-bottom: 0px;
	font-size: 1.4em;
	color: #f3f3d0;
}

.outer-container{
	padding: 15px;
}


.inline-buttons {
	vertical-align: middle;
}

#selection-tool{
	
}

.left-coloumn {
	padding-left: 2%;
}

.right-coloumn {
	padding-right: 2%;
}

.row-headers{
	background-color: #14161b;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px solid #424242;
	height: 70px;
	text-align: left;
}

.rows{
	padding: 15px;
}

.charts {
	/* background-color: #16181b;
	border: 1px solid #2b2727;
	border-radius: 5px; */
	text-align: center;
}

.svg-container {
	padding: 0
}


/* ---------------------------------------------------- */

/* Graph Styles */
/* ---------------------------------------------------- */
.axis-text{
	fill: #fff;
}


.axis-label{
	font-size: 2em;
	fill: #fff;
	text-anchor: middle;
}

.axis--grid .domain {
	fill: #ddd;
	stroke: none;
  }
  
.axis--x .domain,
.axis--grid .tick line {
	stroke: #fff;
}

#small-tick-text {
	font-size: 0.5em;
}

.axis--grid .tick--minor line {
	stroke-opacity: .5;
}

.tick text {
	fill: #fff;
}
  
.axisWhite text{
	fill: #fff;
	font-size: 1.5em;
}
  
.axisWhite line{
	stroke: #fff;
}
  
.axisWhite path{
	stroke: #fff;
}


.axisYellow text{
	fill: #f2df91;
	font-size: 1.5em;
}
  
.axisYellow line{
	stroke: #f2df91;
}
  
.axisYellow path{
	stroke: #f2df91;
}


.axisGrid line {
	stroke:rgb(170, 170, 170);
	opacity: 0.5;
	stroke-width: 0.5;
}

.axisGrid path{
	stroke: #fff;
	opacity: 0
}

/* This doesn't exactly work idk why..... */
.gridlines .tick line {
	stroke-width: 0.5px;
}

.labels text {
	font-size: 1em;
}

.title {
	text-anchor: middle;
	font-size: 2em;
	fill: #fff;
	color: #fff;

}

.chart-title {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}


.legend-text {
	fill: #fff;
	font-size: 1.3em;
}

/* ---------------------------------------------------- */

/* Button Styles */
/* ---------------------------------------------------- */

.dropdown-select {
	margin-left:  15px;
	margin-right: 15px;
}

.select-css {
	display: inline;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.1;
	padding: .6em 1.4em .5em .8em;

	box-sizing: border-box;
	margin: 5px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.select-lg {
	width: 50%;
	max-width: 60%;
}

.select-xl {
	width: 95%;
	max-width: 95%;
}

.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

.close {
	position: absolute;
	top: 6px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .7;
}

.help-button {
	position: absolute;
	right: 30px;
	top: 10px;
	color: lightsteelblue;
	opacity: 0.5;
}

.help-button-right-upper {
	position: absolute;
	right: 5%;
	top: 10px;
	color: lightsteelblue;
	opacity: 0.5;
}

.help-button-right-lower {
	position: absolute;
	right: 10%;
	top: 10px;
	color: lightsteelblue;
	opacity: 0.5;
}

/* ---------------------------------------------------- */


/* Bubbles Styles */
/* ---------------------------------------------------- */
circle-packs {
	stroke: white;
	fill: #05668D;
	opacity: 0.3;
	stroke-width: 2px;
}

.node-texts {
	font-size: 1.5em;
	text-anchor: middle;
	dominant-baseline: middle;
}

.outline-rect {
	stroke: #646464;
	stroke-width: 0.5px;
}

/* ---------------------------------------------------- */


/* Ranking Styles */
/* ---------------------------------------------------- */

#ranking {
	overflow-y: scroll;
	overflow-x: hidden;
}

/* ---------------------------------------------------- */

/* Orders Styles */
/* ---------------------------------------------------- */

/* #orders-chart {
	overflow-y: scroll;
	overflow-x: hidden;
} */

/* ---------------------------------------------------- */


/* ---------------------------------------------------- */

.nav-tabs {
	border-bottom: 1px solid #3b3b3b;
}

.nav-tabs>li>a{
	color: #fff;
	border-color: #3b3b3b;
	background-color: #2c2c2c;
	
}


.nav-tabs>li.active>a {
	color: #fff;
	border-color: #3b3b3b;
	background-color: #444444;
}

.nav-tabs>li.active>a:hover {
	background-color: #5f5f5f;
	color: #fff
}


.tab-area{
	background-color: #1f1e1e;
	padding-top: 15px;
}

.nav-tabs>li>a:hover {
	background-color: #5f5f5f;
}



.severity-circle {
	stroke: #fff;
	stroke-width: 1px;
}

.grid>tick>line{
	stroke: blue;
}

select.form-control{display:inline-block}

.form-group{
	padding-left: 15px;
}

.inner {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translate(0,-50%);
}

.select-label {
	font-size: 1.5em;
	color: #fff;
}

#zero-day-line{
	stroke: rgb(216, 247, 107);
	stroke-width: 0.5px;
	stroke-dasharray: 15 15;
	opacity: 0.2;
}

.tooltip {
	background-color: #f3f3d0;
	border: 1px solid #5e5e5e;
	border-radius: 5px;
	padding: 12px;
	font-size: 1em;
	pointer-events: none;
}

.tooltip>p {
	color: rgb(0, 0, 0);
	stroke: #fff;
	font-size: 1.2em;
}

.tooltip>p>em {
	color: #52fa52);
}


.counties {
	fill: none;
  }
  
.states {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}


.centerText{
	text-anchor: middle;
}

.whiteText {
	fill: #fff;
}

.affirmation {
	fill: #73eb4b;
	text-anchor: middle;
}

.warning-flag {
	fill: #b90b0b;
	text-anchor: middle;
}


/* Testing Styles */
/* ---------------------------------------------------- */

.testing-bars-pos{
	fill: #a66999;
}

.testing-bars-total {
	fill: #01b8aa;
}

.percent-line {
	stroke: #f2df91;
	fill: none;
	stroke-width: 3.5;
}

.percent-marker {
	fill: #f2df91;
}

.labelYellow {
	fill: #f2df91;
}

/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* Testing Styles */
/* ---------------------------------------------------- */

.bar-color-1{
	fill: #4fb6d3;
}

.bar-color-2 {
	fill: #7a7a7a;
}

.percent-line {
	stroke: #f2df91;
	fill: none;
	stroke-width: 3.5;
}

.percent-marker {
	fill: #f2df91;
}

.labelYellow {
	fill: #f2df91;
}

/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* Double-days Styles */
/* ---------------------------------------------------- */

.double-day-line{
	stroke: #4fb6d3;
	stroke-width: 3.5;
	fill: none;
}

.case-line{
	stroke: #4fb6d3;
	stroke-width: 3.5;
	fill: none;
}

.line-yellow {
	stroke: #f2df91;
	stroke-width: 2;
	stroke-dasharray: 5;
	fill:none;
}


.lolicircle{
	fill: #01b8aa;
}

.trendline {
	stroke-width: 2;
	stroke-dasharray: 5;
}

.threshold-line {
	stroke: #f2df91;
	stroke-width: 2;
	stroke-dasharray: 5;
	fill:none;
}

.zero-line {
	stroke: #fff;
	stroke-width: 0.5px;
	fill:none;
}

.percent-hosp-line {
	stroke: #4fb6d3;
	stroke-width: 3.5px;
	fill:none;
}

.dot-marker {
	fill: #4fb6d3;
}

.hosp-dot {
	fill: #4fb6d3;
}



/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* Hospital Styles */
/* ---------------------------------------------------- */


.hosp-thresh-line {
	stroke: #f2c80f;
	stroke-width: 2;
	stroke-dasharray: 5;
}


/* ---------------------------------------------------- */

.description {
	color: #fff;
	font-size: 1.3em;
}

.description-minor {
	color: #ababab;
	font-size: 1.1em;
	padding: 0 30px 10px 30px;
}

.item {
	color: #fff;
	font-size: 1.2em;
}

.slider-text {
	font-size: 1.1em;
	text-anchor: middle;
	fill: #fff;
}

.dial-bg-cases {
	stroke: #1e2025;
	stroke-width: 2px;
}

.dial-bg-hosp {
	stroke: #1e2025;
	stroke-width: 4px;
}

/* .dial-arrow {
	stroke: #fff
}

.dial-circle {
	stroke: #fff
} */

.desc-texts{
	font-size: 1.3em;
	fill: #fff;
}

.center-box {
	height:100%;
	display: table;
	text-align: center;
}

.hosp-stb-center-box{
	height: 100%;
	display: table;
}

.center-cell {
	display: table-cell;
	vertical-align: middle;
}

#max-daily-hosp {
	font-size: calc(100% + 0.7vw + 0.7vh);
	margin-bottom: 3px;
}

.small-labels {
	color: rgb(160, 160, 160);	
	fill: rgb(160, 160, 160);
	font-size: 0.9em;
	margin-bottom: 0px !important;
}

.responsive-text-sm {
	font-size: calc(100% + 0.01vw + 0.01vh) !important;
}

#county-intro-row{
	height: 8vh;
}

#county-select-row{
	height: 5vh;
}

#cases-row{
	height: 20vh;
}

#hosp-row{
	height: 20vh;
}

/* #criteria-row{
	height: 20vh;
} */

.big-labels{
	font-size: 1.5em;
	color: rgb(160, 160, 160);	
}

.test-labels {
	font-size: 1.2em;
	color: rgb(238, 238, 238);	
}

.my-table {
	background: #1e2025 !important;
	color: #fff !important;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
/* .svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
} */


.selection-rects{
	border-radius: 0 0 15px 15px;
}

.y-text-value, .y-text-county{
	font-size: 0.8em;
}

.stat-td-major {
	font-size: 0.7em;
	fill: #fff
}

.stat-td-minor {
	font-size: 0.6em;
	fill: #838383
}

.ranking-gridlines {
	stroke: #838383;
	stroke-width: 1px;
}

.ranking-axis {
	stroke: #bebebe;
	stroke-width: 1.5px;
}

.tooltip {
	background-color: #f3f3d0;
	border: 1px solid #5e5e5e;
	border-radius: 5px;
	padding: 12px;
	font-size: 1rem;
	pointer-events: none;
	box-shadow: 3px 3px 3px 0 #4fb6d3
}

.hover-line {
	/* stroke-dasharray: 2 2; */
	stroke: #f114c2;
	stroke-width: 2
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #14161b;
	color: white;
	text-align: center;
	height: 120px;
	
	border-top: 1px solid #413b3b;
	border-bottom: 1px solid #413b3b;

}

.disclaimer {
	font-size: 1.2em;
}